body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #ffffff; /* White background for contrast */
}

.content {
  padding-top: 5%; /* Offset for the fixed navbar */
  text-align: center;
}

/* Default margin for larger screens */
/* .section {
  margin: 5% 0; /* Default margin: 5% on top and bottom 
} */

/* Medium screens */
/* @media (max-width: 1024px) {
  .section {
      margin: 4% 0; /* Slightly smaller margin for tablets 
  }
} */

/* Small screens */
/* @media (max-width: 768px) {
  .section {
      margin: 3% 0; /* Even smaller margin for smaller devices 
  }
} */

/* Extra small screens (e.g., mobile phones)
@media (max-width: 480px) {
  .section {
      margin: 2% 0; Minimal margin for very small devices 
  }
}
 */
